<div class="editor-wrapper" id="uml-editor-container">

    <link rel="stylesheet" href="/static/uml-editor/css/style.css">
    <link rel="stylesheet" href="/static/uml-editor/css/uml-type.css">
    <link rel="stylesheet" href="/static/uml-editor/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/uml-editor/css/bootstrap.css">

    <nav class="navbar navbar-default editor-top" role="navigation" style="margin-bottom: 0px;">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" ui-sref="courses" ng-click="vm.collapseNavbar()">
                    <img class="logo-img logo-img-tum" src="content/images/logo_tum.png"/>
                    <img class="logo-img" src="content/images/logo_l1_weiss.png"/>
                    <span translate="global.title" class="hidden-sm">TUM LS1 Exercises </span><span
                    class="hidden-sm">: </span> <span>{{$ctrl.participation.exercise.course.title}}</span>
                </a>
            </div>
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed">

                <div class=" navbar-nav navbar-right">

                    <result participation="$ctrl.participation" ng-hide="$ctrl.isBuilding"
                            on-new-result="$ctrl.updateLatestResult($event)" show-score="true" show-artifact="false"></result>

                    <button id="umlSaveButton" type="button" class="btn btn-primary navbar-btn">
                        <span id="umlSaveButtonText"><i class="fa fa-play-circle-o"></i> Save & Run Tests</span>
                    </button>

                </div>

            </div>
        </div>
    </nav>


    <div class="editor-main" style="display: table-row; height: 100%; overflow: hidden;">

        <div id="main-container"
             style="width: 100%; height: 100%; border: none; margin: 0; padding: 0; display: block;">

        </div>


    </div>

    <button id="panelInstructionMaximizer" class="btn btn-primary navbar-btn" style="position: fixed; right: 0; top: 30%; margin: 0; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); transform-origin: right bottom; -ms-transform-origin: right bottom; -webkit-transform-origin: right bottom;">
        <span><i class="glyphicon glyphicon glyphicon-list-alt"></i> &nbsp; Instructions &nbsp;</span>
    </button>

    <div id="panelInstructions" style="width: 300px; height: 80%; position:fixed; right: 0; bottom: 10%; top:10%;"
         class="panel panel-primary" resizable r-directions="['left']" r-width="$ctrl.initialInstructionsWidth">
        <div class="panel-heading">
            <span class="pull-right" id="instructionsCollapseButton"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <h3 class="panel-title">
                <i class="glyphicon glyphicon glyphicon-list-alt"></i>
                <span> &nbsp; Instructions &nbsp; </span>
            </h3>

        </div>


            <div class="panel-body instructions" style="height: calc(100% - 40px); overflow: scroll; background: none;" id="instructionsMarkdown"></div>
    </div>


    <script src="/static/uml-editor/js/UmlEditorBundled.js"></script>

    <script>
        var saveButton = $("#umlSaveButton");
        var saveButtonText = $("#umlSaveButtonText");
        var instructionsContainer = $("#panelInstructions");
        var instructionsMarkDown = $("#instructionsMarkdown");
        var instructionsCollapseButton = $("#instructionsCollapseButton");
        var instructionsMaximizerButton = $("#panelInstructionMaximizer");
        var lastInstructionContainerWidth = "300";


        function start() {

            var Repository = angular.element('*[ng-app]').injector().get("Repository");
            var RepositoryFile = angular.element('*[ng-app]').injector().get("RepositoryFile");
            var JhiWebsocketService = angular.element('*[ng-app]').injector().get("JhiWebsocketService");
            var markdown = new Remarkable();

            var url = window.location.href;
            var urlIndex = url.lastIndexOf('/');
            var participationId = Number(url.substring(urlIndex + 1));

            if (isNaN(participationId)) {
                alert("Oops, something went wrong. Please reload page.");
            }


            // store url on load
            var currentPage = window.location.href;


            //
            // Function to load the file
            //
            function loadFile(successCallback, errorCallback) {
                RepositoryFile.get({
                        participationId: participationId,
                        file: "submission.json"
                    }, function (fileObj) {
                        try {
                            successCallback(JSON.parse(fileObj.fileContent))
                        } catch (e) {
                            errorCallback(e)
                        }
                    },
                    function (error) {
                        errorCallback(error)
                    }
                );
            }


            //
            //
            //
            function saveAndCommitFile(umlDocumentAsJson, successCallback, errorCallback) {

                saveButton.prop("disabled", true);
                saveButtonText.html("<i class=\"fa fa-circle-o-notch fa-spin\"></i> Testing");
                var controller = angular.element(document.getElementById("uml-editor-container")).controller('umleditor');
                controller.isBuilding = true;

                RepositoryFile.update({
                    participationId: participationId,
                    file: "submission.json"
                }, JSON.stringify(umlDocumentAsJson), function () {
                   console.log("Saved file");

                    Repository.commit({
                        participationId: participationId
                    }, {}, function () {
                        console.log('comitted');
                        successCallback()
                    }, function (err) {
                        console.log(err);
                        errorCallback(err);
                        controller.isBuilding = false;
                        saveButton.prop("disabled", false);
                        saveButtonText.html("<i class=\"fa fa-play-circle-o\"></i> Save & Run Tests");
                    });

                }, function (err) {
                    console.log(err);
                    errorCallback(err)
                })


            } // End save Function


            //
            // Connect to business logic of UML Editor
            //
            var triggerFuncs = UmlClassEditor.startUmlEditor(loadFile, saveAndCommitFile, true);
            var saveTrigger = triggerFuncs[0];
            var errorImportTrigger = triggerFuncs[1];

            var websocketChannelUml = '/topic/participation/' + participationId + '/umlexercise/assessmentResults';
            JhiWebsocketService.subscribe(websocketChannelUml);
            JhiWebsocketService.receive(websocketChannelUml).then(null, null, function (notification) {
                console.log(notification);
                if (errorImportTrigger !== null) {
                    errorImportTrigger(notification);
                }
            });

            var websocketChannelResult = '/topic/participation/' + participationId + '/newResults';
            JhiWebsocketService.subscribe(websocketChannelResult);
            JhiWebsocketService.receive(websocketChannelResult).then(null, null, function (notification) {
                saveButton.prop("disabled", false);
                saveButtonText.html("<i class=\"fa fa-play-circle-o\"></i> Save & Run Tests");
            });

            //
            // Setup UI
            //

            saveButton.click(function () {
                saveTrigger();
            });

            instructionsCollapseButton.click(function () {
                lastInstructionContainerWidth = instructionsContainer.css("width");
               instructionsContainer.animate({width: '0px'}, 200, function () {
                   instructionsContainer.css({visibility:"hidden"})
               });
            });
            instructionsMaximizerButton.click(function(){
                instructionsContainer.css({visibility:"visible"});
                instructionsContainer.animate({width: lastInstructionContainerWidth});
            });

            instructionsMarkDown.html(markdown.render('Loading ...'));

            RepositoryFile.get({
                    participationId: participationId,
                    file: "README.md"
                }, function (fileObj) {
                    try {
                        instructionsMarkDown.html(markdown.render(fileObj.fileContent));
                    } catch (e) {
                        console.log(e);
                        instructionsMarkDown.html(markdown.render('Unexpected Error has occurred'));
                    }
                },
                function (error) {
                    instructionsMarkDown.html(markdown.render("Couldn't load Instructions. No Instructions provided."));
                }
            );


            //
            // Clean up
            //
            (function ($) {
                $.event.special.destroyed = {
                    remove: function (o) {
                        if (o.handler) {
                            o.handler()
                        }
                    }
                }
            })(jQuery);


            var container = $("#uml-editor-container");
            console.log("Container");
            console.log(container);
            container.bind('destroyed', function () {
                // unsubscribe websocket
                JhiWebsocketService.unsubscribe(websocketChannelUml);
                JhiWebsocketService.unsubscribe(websocketChannelResult);
                errorImportTrigger = null;
                UmlClassEditor.stopUmlEditor();
                console.log("Removed UmlEditor. cleanup done.")
            });


        }


        if (window.location.href.indexOf("umleditor") !== -1) { // means string.contains("umleditor)
            start();
        } else {
            var startOnHashChanged = function () {
                if (window.location.href.indexOf("umleditor") !== -1) { // means string.contains("umleditor)
                    start();
                }

                window.removeEventListener("hashchange", startOnHashChanged)
            };

            window.addEventListener("hashchange", startOnHashChanged);
        }

    </script>


    <!--
    <div class="editor-center" style="" background: red;">
        </div>

    <div class="editor-sidebar-right">

        <editor-instructions participation="$ctrl.participation"
                             latest-result="$ctrl.latestResult"></editor-instructions>

    </div>
    -->


</div>

